*{
	padding:0px;
	margin:0px;
}
section{
	width:650px;
	margin:0 auto;
	background-color: #535353;
}
.image_full_div{
	width:550px;
	height:550px;
	border:2px solid black;
	background:black;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align:left;
}
form{
	text-align:center;
}
#crop_tool{
	background-color: rgba(255,255,255,0.5);
	border:1px dashed #fff;
	width:15px;
	height:15px;
	position:absolute;
}
#cansel, #save, #choose, #add, #crop_btn{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	background: #333;
	color: #fff;
	border: 0px;

}
#choose{
	padding: 7px;
}
#output{
	position: absolute;
	left: 500px;
	top: 0px;
}
.clear{
	clear: both;
}